In [9]:
import pandas as pd

df = pd.read_csv('./TA2.csv')

df

       TA2ID                   English
0        NaN                       NaN
1        1.0             General terms
2        2.0                  Vertical
3        3.0                Horizontal
4        4.0                    Median
...      ...                       ...
7293  7224.0       Left lobe of thymus
7294  7225.0           Arterial system
7295  7226.0             Venous system
7296  7227.0  References and movements
7297  7228.0                     Spine

[7298 rows x 2 columns]

In [10]:
LIST_3D = []
LIST_DEFINITIONS = []
LIST_LABELS = []

lists = ['./List_3D', './List_Definitions', './List_labels']


for i,filename in enumerate(lists):
    with open(filename) as f:
        lines = f.readlines()
    for line in lines: 
        line =  line.replace("\n", "")
        if i == 0:
            LIST_3D.append(line)
        if i == 1:
            LIST_DEFINITIONS.append(line)
        if i == 2:
            LIST_LABELS.append(line)

In [13]:
d3 = []
lable = []
Def = []


for row in df['English']:
    progress = ''
    if row in LIST_3D:
        progress = " x"
        d3.append(progress)
    else:
        d3.append('')        

    if row in LIST_LABELS:
        progress = " x"
        lable.append(progress)
    else:
        lable.append('') 

    if row in LIST_DEFINITIONS:
        progress = " x"
        Def.append(progress)
    else:
        Def.append('') 
    
        
print(len(d3))

df['3D'] = d3
df['label'] = lable
df['Def'] = Def

print(df)

df.to_csv('./TA2Progress.csv')

7298
       TA2ID                   English  3D label Def
0        NaN                       NaN
1        1.0             General terms         x
2        2.0                  Vertical
3        3.0                Horizontal
4        4.0                    Median
...      ...                       ...  ..   ...  ..
7293  7224.0       Left lobe of thymus   x
7294  7225.0           Arterial system         x
7295  7226.0             Venous system         x
7296  7227.0  References and movements
7297  7228.0                     Spine

[7298 rows x 5 columns]